body {
	color: black;
	margin: 0;
	padding: 0;
	background-image: url(images/mouse.jpg); /*Photo by Supratik Deshmukh on Unsplash, link:https://unsplash.com/photos/iO0I6-mhDEY*/
	background-repeat: no-repeat;
	background-size: cover;	
}

header {
	background-color: gold;
	height: 100px;
	width: 100%;	
	border-bottom-style: solid;	
	border-color: #f403fc;
	border-bottom-width: 100%;
	border-bottom: 5px thick;
	background-image: url(images/logo.png);
	background-repeat: no-repeat;	
	background-size: contain;
	background-position: 20px;
	position: fixed;

}

.Search-box {
	position: absolute;
	right: 0%;	
	justify-content: center;
	margin-top: -50px;
}

input {	
	height: 40px;
	width: 250px;
	border-radius: 12px;
	border: 1px solid #f403fc;
	border-color: ;	
	margin-right: 100px;
	padding-left: 20px;
	font-size: 15px;
	outline: none;
	float: right;
}

.button {	
	position: absolute;
	right: 0;
	top: 0;	
	width: 60px;
	margin-right: 100px;
	margin-top: 0.5px;
	padding-top: 13.9px;
	padding-bottom: 13.9px;
	background: linear-gradient(to right,indianred,blueviolet); 
	color: white;
	text-align: center;
	border-radius: 10px;
	border: 2px ;
}

.button:active {
background: linear-gradient(90deg,orange,orange);
}

#Navigation {
	height: 40px;
	text-align: center;
	font-size: 25px;
	padding-top: 55px;	

}

#Navigation a {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: black;	
	font-family: monospace;
}

#Navigation a:hover {	
	color: white;
}

#Navigation .current {
background-color: #e6002e;
border-radius: 10px;

}

section {	
	background-color: #e8e8e8;
	text-align: centre;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
	overflow: auto;
	margin: auto;
	width: 50%;
	padding-top: 100px;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

#about-section {
	padding-bottom: 150px;
	margin-bottom: -80px;
}

.content {
	background-color: #adaaab;
	width: 50%;	
	border: 2px solid royalblue;
	margin-top: 20px;

}

.content-text {
font-size: 25px;
text-align: center;

}

.content li {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 20px;
	 font-weight: bold;

}

.content a {	
	text-decoration: none;
	color: black;	
	font-family: Helvetica;
}

.content a:hover {
	background-color: #d92164;
	color: white;

}

#computer-image {
	width: 50%;
	height: 25%;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 80px;
  	margin-bottom: 80px; 
  	background-color: red;
}


.alienware-image {
	width: 80%;
	height: 500px;
 	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 20px;
  	margin-bottom: 20px; 
}


#image-div {	
	width: 100%;
	height: 234px;
	margin-top: -20px;
}

#image-div2 {
	width: 100%;
	height: 234px;
	margin-top: -20px;	
}

#image-div3 {
	width: 100%;
	height: 234px;
	margin-top: -20px;		
}


#img1 {
	width: 25%;
	height: 200px;
  	display: block;  
  box-shadow: 20px 20px 50px #0d0dd1;
  border-radius: 10px;
}

.buy-cpu-button1 {	
	font-size: 30px;
		padding-left: 93px;
	padding-right: 94px;	
	color: red;
	background-color: #0cfa2c;
	text-decoration: none;
	 border-radius: 10px;
}

.buy-cpu-button1:active {
background-color: #02a121;

}

#img2 {
	width: 25%;
	height: 200px;
 	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: -200px;
  	box-shadow: 20px 20px 50px #0d0dd1;
  	 border-radius: 10px;
}

 .buy-cpu-button2 {
	font-size: 30px;
	padding-left: 92px;
	padding-right: 94px;	
	margin-left: 115px;
	color: red;
	background-color: #0cfa2c;
	text-decoration: none;
	 border-radius: 10px;
	
}

.buy-cpu-button2:active {
background-color: #02a121;
}


#img3  {
	width: 25%;
	height: 200px;
 	display: block;  
  	margin-top: -200px;
  	float: right;
  	box-shadow: 20px 20px 50px #0d0dd1;
  	 border-radius: 10px;
}

.buy-cpu-button3 {	
	font-size: 30px;
		padding-left: 93px;
	padding-right: 93px;	
	color: red;
	background-color: #0cfa2c;
	text-decoration: none;
	float: right;
	 border-radius: 10px;

}

.buy-cpu-button3:active  {
background-color: #03ad1a;

}

.comment-button {
margin-top: 310px;
margin-left: -220px;
height: 30px;
border-radius: 5px;
background-color: #2ec7ff;
}


.comment-button:active {
	background-color: #0896c9;
}



.amazon {
	color: #cf002d;
}

.comment-text {
	width: 500px;
	height: 300px;
	float: left;
	text-align: left;
}

#footer-center {  
  	background-color: #e1e1de; 
  	border-top: 1px solid black;
  	text-align: center;
  	padding-bottom: 30px;  
  	background-image: url(images/logo.png);
	background-repeat: no-repeat;	
	background-size: contain;
	background-position: 10px;
}

#footer-center-about {  
  	background-color: #e1e1de; 
  	border-top: 1px solid black;
  	text-align: center;
  	padding-bottom: 30px; 
  	margin-top: 77px; 
  	background-image: url(images/logo.png);
	background-repeat: no-repeat;	
	background-size: contain;
	background-position: 10px;
}

#footer-center a {
	padding-left: 5px;
  	padding-right: 5px;

}

#footer-left {
	text-align: center;
	margin-right: 20px;
	border-radius: 20px;
	width: 300px;
	margin-top: -110px;
	margin-left: 300px;
	padding-bottom: 20px;	
	color: #3f2eff;
	font-size: 20px;
}

#social-media-icons i {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #7788f7;
	border-radius: 10px;
	margin-top: 20px;
	height: 20px;

}

#social-media-icons a:hover {	
	color: white;

}

#Sign-up-text {
width: 10%;
float: right;
margin-top: -130px;
margin-right: 180px;
font-size: 20px;

}

.signup {
	margin-top: 10px;
	height: 40px;
	width: 250px;
	border-radius: 12px;
	border: 1px solid #ab0738;
	border-color: ;	
	margin-right: 100px;
	padding-left: 20px;
	/*margin-bottom: 20px;*/
	margin-top: -70px;
	font-size: 15px;
	outline: none;
	float: right;

}

.Signup-button {
	
	right: 0;
	top: 0;
	/*height: 30px;*/
	width: 60px;
	margin-right: 100px;
	margin-top: -20px;
	padding-top: 13.9px;
	padding-bottom: 13.9px;	
	background-color: red;
	color: white;
	text-align: center;
	float: right;
	border-radius: 10px;
	border: 2px ;

}

.Signup-button:active {
background-color: darkred;
}